# ===================================
# 📦 Miscellaneous
# ===================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ===================================
# 📦 IDE Settings
# ===================================

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
# La carpeta .vscode contiene configuraciones locales que podrías querer ignorar.
# Descomenta si quieres ignorarla:
# .vscode/

# ===================================
# 📦 Flutter / Dart / Pub
# ===================================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.pub-cache/
.pub/
.melos_tool/
**/doc/api/
**/build/

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/

# Web
web/.dart_tool/
web/build/

# ===================================
# 📦 Android / Gradle
# ===================================

.gradle/
local.properties

# Android build outputs
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# ===================================
# 📦 Amplify (auto-managed)
#amplify-do-not-edit-begin
amplify/#current-cloud-backend
amplif
