# ===================================
# 📦 Miscellaneous
# ===================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ===================================
# 📦 IDE Settings
# ===================================

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
# La carpeta .vscode contiene configuraciones locales que podrías querer ignorar.
# Descomenta si quieres ignorarla:
# .vscode/

# ===================================
# 📦 Flutter / Dart / Pub
# ===================================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.pub-cache/
.pub/
.melos_tool/
**/doc/api/
**/build/

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/

# Web
web/.dart_tool/
web/build/

# ===================================
# 📦 Android / Gradle
# ===================================

.gradle/
local.properties

# Android build outputs
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# ===================================
# 📦 Amplify (auto-managed)
#amplify-do-not-edit-begin
amplify/#current-cloud-backend
amplif
android/app/.cxx/Debug/4l5z5v3k/hash_key.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/build.ninja
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/reply/cache-v2-8cafcf95e2444782e5b9.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-8c2881e48dc01042b77f.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-3f4042b81299c70f4987.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/.cmake/api/v1/reply/index-2025-05-28T17-46-33-0420.json
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l5z5v3k/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/build.ninja
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/reply/cache-v2-d53549b771171e065539.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-df3b279306c9bd18a5ed.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-94344577d2e18ec273d6.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-28T17-46-34-0810.json
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l5z5v3k/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/x86/additional_project_files.txt
android/app/.cxx/Debug/4l5z5v3k/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/4l5z5v3k/x86/android_gradle_build.json
android/app/.cxx/Debug/4l5z5v3k/x86/build_file_index.txt
android/app/.cxx/Debug/4l5z5v3k/x86/build.ninja
android/app/.cxx/Debug/4l5z5v3k/x86/cmake_install.cmake
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeCache.txt
android/app/.cxx/Debug/4l5z5v3k/x86/configure_fingerprint.bin
android/app/.cxx/Debug/4l5z5v3k/x86/metadata_generation_command.txt
android/app/.cxx/Debug/4l5z5v3k/x86/prefab_config.json
android/app/.cxx/Debug/4l5z5v3k/x86/symbol_folder_index.txt
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/reply/cache-v2-11b34fcda6a51b3e61e1.json
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/reply/cmakeFiles-v1-ce970c07756e71a91677.json
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/reply/codemodel-v2-935468776d624748a7a9.json
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4l5z5v3k/x86/.cmake/api/v1/reply/index-2025-05-28T17-46-35-0967.json
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l5z5v3k/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/x86_64/additional_project_files.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/android_gradle_build.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/build_file_index.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/build.ninja
android/app/.cxx/Debug/4l5z5v3k/x86_64/cmake_install.cmake
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeCache.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/4l5z5v3k/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/prefab_config.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/reply/cache-v2-e0e1aa720c230d8ad83c.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-51895b1ba7043fa48953.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/reply/codemodel-v2-0ce2252108725b83727d.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/.cmake/api/v1/reply/index-2025-05-28T17-46-37-0321.json
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4l5z5v3k/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
